[Desktop Entry]
Encoding=UTF-8
Name=Remote Desktop
Name[ar]=سطح مكتب بعيد
Name[as]=দূৰবৰ্তী ডেস্কটপ
Name[az]=Uzaq Masa Üstü
Name[be@latin]=Addaleny stoł
Name[bg]=Отдалечено работно място
Name[bn]=দূরবর্তী ডেস্কটপ
Name[bn_IN]=দূরবর্তী ডেস্কটপ
Name[bs]=Udaljeni dektop
Name[ca]=Escriptori remot
Name[cs]=Vzdálená pracovní plocha
Name[cy]=Penbwrdd Pell
Name[da]=Fjernskrivebord
Name[de]=Entfernter Desktop
Name[dz]=ཐག་རིང་ཌེཀསི་ཊོཔ།
Name[el]=Απομακρυσμένη επιφάνεια εργασίας
Name[en_CA]=Remote Desktop
Name[en_GB]=Remote Desktop
Name[es]=Escritorio remoto
Name[et]=Kaugtöölaud
Name[eu]=Urruneko mahaigaina
Name[fa]=رومیزی دوردست
Name[fi]=Etätyöpöytä
Name[fr]=Bureau à distance
Name[gl]=Escritorio remoto
Name[gu]=રીમોટ ડેસ્કટોપ
Name[he]=שולחן עבודה מרוחק
Name[hi]=दूरस्थ डेस्कटॉप
Name[hr]=Udaljena radna površina
Name[hu]=Távoli asztal
Name[id]=Desktop Remote
Name[it]=Desktop remoto
Name[ja]=リモート・デスクトップ
Name[ka]=დაშორებული კომპიუტერი
Name[kn]=ದೂರಸ್ಥ ಗಣಕತೆರೆ
Name[ko]=원격 데스크탑
Name[ku]=Sermaseya Dûr
Name[lt]=Nutolęs darbastalis
Name[lv]=Attālinātā darbvirsma
Name[mk]=Далечна работна површина
Name[ml]=വിദൂരത്തിലുളള പണിയിടം
Name[mn]=Зайн Дэсктоп
Name[mr]=दूरस्थ संकनकस्थान
Name[ms]=Desktop Jauh
Name[nb]=Eksternt skrivebord
Name[ne]=टाढाको डेस्कटप
Name[nl]=Bureaublad op afstand
Name[nn]=Skrivebord over nettet
Name[oc]=Burèu distant
Name[or]=ଦୂର ଡେସ୍କଟପ
Name[pa]=ਰਿਮੋਟ ਡੈਸਕਟਾਪ
Name[pl]=Zdalny pulpit
Name[pt]=Área de Trabalho Remota
Name[pt_BR]=Área de trabalho remota
Name[ro]=Desktop la distanță
Name[ru]=Удалённый рабочий стол
Name[si]=දුරස්ථ මුලීක තිරය
Name[sk]=Vzdialená pracovná plocha
Name[sl]=Oddaljeno namizje
Name[sq]=Hapësira e punës në distancë
Name[sr]=Удаљена радна површ
Name[sr@latin]=Udaljena radna površ
Name[sv]=Fjärrskrivbord
Name[ta]=தொலை பணிமேடை
Name[te]=సుదూర రంగస్థలం
Name[th]=พื้นโต๊ะระยะไกล
Name[tr]=Uzaktaki Masaüstü
Name[ug]=Desktop يىراقتىكى 
Name[uk]=Віддалений робочий стіл
Name[vi]=Màn hình làm việc từ xa
Name[wa]=Sicribanne å lon
Name[xh]=i-Desktop Ekude
Name[zh_CN]=远程桌面
Name[zh_HK]=遠端桌面
Name[zh_TW]=遠端桌面
Comment=Set your remote desktop access preferences
Comment[ar]=اضبط تفضيلات النفاذ لسطح المكتب البعيد
Comment[as]=দূৰবৰ্তী ডেস্কটপ ব্যৱহাৰ সংক্ৰান্ত পছন্দ নিৰ্ধাৰণ কৰুন
Comment[az]=Uzaq masa üstü qurğularınızı seçin
Comment[be@latin]=Naładžvaj dostup da svajho addalenaha stała
Comment[bg]=Настройки за отдалечено влизане в работното място
Comment[bn]=দূরবর্তী ডেস্কটপ ব্যবহার সংক্রান্ত পছন্দ নির্ধারণ করুন
Comment[bn_IN]=দূরবর্তী ডেস্কটপ ব্যবহার সংক্রান্ত পছন্দ নির্ধারণ করুন
Comment[bs]=Postavite pristupne karakteristike za udaljeni desktop
Comment[ca]=Especifiqueu les preferències per a l'accés a l'escriptori remot
Comment[cs]=Nastavit přístup ke vzdálené pracovní ploše
Comment[cy]=Gosodwch eich hoffterau mynediad Penbwrdd Pell
Comment[da]=Angiv indstillinger for fjernadgang til skrivebordet
Comment[de]=Ihre Zugrifsseinstellungen auf entfernte Desktops festlegen
Comment[dz]=ཁྱོད་རའི་ཐག་རིང་ཌེཀསི་ཊོཔ་གི་ འཛུལ་སྤྱོད་དགའ་གདམ་ཚུ་ གཞི་སྒྲིག་འབད།
Comment[el]=Ορισμός των προτιμήσεων πρόσβασης της απομακρυσμένης επιφάνειας εργασίας
Comment[en_CA]=Set your remote desktop access preferences
Comment[en_GB]=Set your remote desktop access preferences
Comment[es]=Establezca las preferencias de su escritorio remoto
Comment[et]=Kaugtöölaua ligipääsueelistuste määramine
Comment[eu]=Ezarri urruneko mahaigaineko hobespenak
Comment[fa]=ترجیحات دسترسی رومیزی دوردست‌تان را تنظیم کنید
Comment[fi]=Aseta etätyöpöydän käyttöasetuksia
Comment[fr]=Paramétrer l'accès à distance à votre bureau
Comment[gl]=Establecer as preferencias de escritorio remoto
Comment[gu]=તમારા રીમોટ ડેસ્કટોપ ચલાવવાની પસંદગીઓ સુયોજિત કરો
Comment[he]=קבע את אפשרויות הגישה לשולחן העבודה המרוחק
Comment[hi]=अपने दूरस्थ डेस्कटॉप पहुंच प्राथमिकतायें सेट करें
Comment[hr]=Postavke udaljene radne površine
Comment[hu]=Távoli asztal elérésének beállításai
Comment[id]=Atur hak akses desktop remote
Comment[it]=Imposta le preferenze di accesso remoto al proprio desktop
Comment[ja]=リモート・デスクトップへのアクセスを設定します
Comment[ka]=დააყენეთ თქვენი პერსონალური პარამეტრები დაშორებული კომპიუტერისავის
Comment[ko]=원격 데스크탑 접근 설정을 합니다
Comment[lt]=Priėjimo prie nutolusio darbastalio konfigūravimas
Comment[lv]=Uzstādīt jūsu attālinātās darbvirsmas pieejas preferences
Comment[mk]=Поставете ги параметрите за далечен пристап на Вашата работна површина
Comment[ml]=നിങ്ങളുടെ വിദൂരത്തിലുളള പണിയിടം ലഭ്യമാക്കുന്നതിനുളള മുന്‍ഗണനകള്‍ ക്രമീകരിക്കുക
Comment[mn]=Таны зайн дэсктопд хандах параметрүүдийг тохируулах
Comment[mr]=दूरस्थ कार्यस्थळावरील प्राप्य अग्रक्रम कार्ये ठिक करा
Comment[ms]=Tetapkan keutamaan akses desktop jauh anda
Comment[nb]=Sett brukervalg for tilgang til skrivebord eksternt
Comment[ne]=तपाईँको टाढाको डेस्कटप पहुँच प्राथमिकताहरू सेट गर्नुहोस्
Comment[nl]=Uw bureaublad-op-afstand toegangsvoorkeuren instellen
Comment[nn]=Innstillingar for skrivebord over nettet
Comment[or]=ଦୂର ଡେସ୍କଟପ ପ୍ରବେଶାନୁମତି ପସନ୍ଦ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਰਿਮੋਟ ਡੈਸਕਟਾਪ ਵਰਤੋਂ ਪਸੰਦ ਦਿਓ
Comment[pl]=Preferencje dostępu do zdalnego pulpitu
Comment[pt]=Defina as suas preferências de acesso da área de trabalho remota
Comment[pt_BR]=Defina suas preferências de acesso à área de trabalho remota
Comment[ro]=Setați opțiunile de accesare a desktopului la distanță
Comment[ru]=Параметры удалённого рабочего стола
Comment[si]=ඔබගේ දුරස්ථ මුලීක තිර පිවිසුම් අභිප්‍රේත සකසන්න
Comment[sk]=Nastaviť predvoľby vášho prístupu k vzdialenej pracovnej ploche
Comment[sl]=Določite lastnosti dostopa tvojega oddaljenega namizja
Comment[sq]=Përcakto preferimet e hyrjes në hapësirën e punës në distancë
Comment[sr]=Поставке за приступ вашој удаљеној радној површи
Comment[sr@latin]=Postavke za pristup vašoj udaljenoj radnoj površi
Comment[sv]=Ställ in dina inställningar för åtkomst till fjärrskrivbord
Comment[ta]=உங்கள் தொலை மேல்மேசை விருப்பங்களை அமைக்கவும்
Comment[te]=మీ సుదూర రంగస్థల సాంగత్యం అభీష్టాలను అమర్చుము
Comment[th]=ปรับแต่งการเข้าถึงพื้นโต๊ะของคุณจากระยะไกล
Comment[tr]=Uzaktaki masaüstüne erişim tercihlerinizi belirleyin
Comment[ug]=قا كىرىش مايىللىغىڭىزنى بەلگۈلەڭ Desktop يىراقتىكى
Comment[uk]=Встановлення параметрів віддаленого дисплею
Comment[vi]=Hãy đặt tùy thích truy cập màn hình làm việc từ xa
Comment[wa]=Definixhoz vos preferinces po l' accès å scribanne å lon
Comment[xh]=Misela uluhlu lwezinto ezikhethekayo ezifikelelekayo kwi-desktop ekude
Comment[zh_CN]=设置您的远程桌面访问首选项
Comment[zh_HK]=設定你的遠端桌面存取偏好
Comment[zh_TW]=設定您的遠端桌面存取偏好
Exec=xfce4vino-preferences
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;
NotShowIn=KDE;GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=vino
X-GNOME-Bugzilla-Component=Preferences Dialog
X-GNOME-Bugzilla-Version=2.24.1
X-Ubuntu-Gettext-Domain=vino
