[Desktop Entry]
Name=Remote Desktop
Name[ar]=سطح مكتب بعيد
Name[as]=দূৰবৰ্তী ডেস্কটপ
Name[az]=Uzaq Masa Üstü
Name[be@latin]=Addaleny stoł
Name[bg]=Отдалечено работно място
Name[bn]=দূরবর্তী ডেস্কটপ
Name[bn_IN]=দূরবর্তী ডেস্কটপ
Name[bs]=Udaljeni dektop
Name[ca]=Escriptori remot
Name[cs]=Vzdálená pracovní plocha
Name[cy]=Penbwrdd Pell
Name[da]=Fjernskrivebord
Name[de]=Entfernter Desktop
Name[dz]=ཐག་རིང་ཌེཀསི་ཊོཔ།
Name[el]=Απομακρυσμένη επιφάνεια εργασίας
Name[en_CA]=Remote Desktop
Name[en_GB]=Remote Desktop
Name[es]=Escritorio remoto
Name[et]=Kaugtöölaud
Name[eu]=Urruneko mahaigaina
Name[fa]=رومیزی دوردست
Name[fi]=Etätyöpöytä
Name[fr]=Bureau à distance
Name[gl]=Escritorio remoto
Name[gu]=રીમોટ ડેસ્કટોપ
Name[he]=שולחן עבודה מרוחק
Name[hi]=दूरस्थ डेस्कटॉप
Name[hr]=Udaljena radna površina
Name[hu]=Távoli asztal
Name[id]=Desktop Remote
Name[it]=Desktop remoto
Name[ja]=リモート・デスクトップ
Name[ka]=დაშორებული კომპიუტერი
Name[kn]=ದೂರಸ್ಥ ಗಣಕತೆರೆ
Name[ko]=원격 데스크탑
Name[ku]=Sermaseya Dûr
Name[lt]=Nutolęs darbastalis
Name[lv]=Attālinātā darbvirsma
Name[mk]=Далечна работна површина
Name[ml]=വിദൂരത്തിലുളള പണിയിടം
Name[mn]=Зайн Дэсктоп
Name[mr]=दूरस्थ संकनकस्थान
Name[ms]=Desktop Jauh
Name[nb]=Eksternt skrivebord
Name[ne]=टाढाको डेस्कटप
Name[nl]=Bureaublad op afstand
Name[nn]=Skrivebord over nettet
Name[oc]=Burèu distant
Name[or]=ଦୂର ଡେସ୍କଟପ
Name[pa]=ਰਿਮੋਟ ਡੈਸਕਟਾਪ
Name[pl]=Zdalny pulpit
Name[pt]=Área de Trabalho Remota
Name[pt_BR]=Área de trabalho remota
Name[ro]=Desktop la distanță
Name[ru]=Удалённый рабочий стол
Name[si]=දුරස්ථ මුලීක තිරය
Name[sk]=Vzdialená pracovná plocha
Name[sl]=Oddaljeno namizje
Name[sq]=Hapësira e punës në distancë
Name[sr]=Удаљена радна површ
Name[sr@latin]=Udaljena radna površ
Name[sv]=Fjärrskrivbord
Name[ta]=தொலை பணிமேடை
Name[te]=సుదూర రంగస్థలం
Name[th]=พื้นโต๊ะระยะไกล
Name[tr]=Uzaktaki Masaüstü
Name[ug]=Desktop يىراقتىكى 
Name[uk]=Віддалений робочий стіл
Name[vi]=Màn hình làm việc từ xa
Name[wa]=Sicribanne å lon
Name[xh]=i-Desktop Ekude
Name[zh_CN]=远程桌面
Name[zh_HK]=遠端桌面
Name[zh_TW]=遠端桌面
Comment=GNOME Remote Desktop Server
Comment[ar]=خادوم سطح المكتب البعيد لـ غنوم
Comment[be@latin]=Server addalenaha stała GNOME
Comment[bg]=Сървър за отдалечено работно място на GNOME
Comment[bn_IN]=GNOME Remote Desktop Server
Comment[ca]=Servidor d'escriptori remot del GNOME
Comment[cs]=Server vzdálené plochy GNOME
Comment[da]=GNOME-Fjernskrivebordsserver
Comment[de]=GNOME-Server für Entfernte Desktops
Comment[en_GB]=GNOME Remote Desktop Server
Comment[es]=Servidor de escritorios remotos de GNOME
Comment[et]=GNOME kaugtöölauaserver
Comment[eu]=GNOMEren urruneko mahaigainaren zerbitzaria
Comment[fi]=Gnome-etätyöpöydän palvelin
Comment[fr]=Serveur de bureau à distance GNOME
Comment[gl]=Servidor de escritorio remoto de Gnome
Comment[gu]=જીનોમ દૂરસ્થ ડેસ્કટોપ સર્વર
Comment[he]=שרת שולחן עבודה מרוחק של GNOME
Comment[hu]=GNOME távoliasztal-kiszolgáló
Comment[it]=Server «Desktop remoto» GNOME
Comment[ja]=GNOME リモート・デスクトップのサーバ
Comment[kn]=GNOME ದೂರಸ್ಥ ಗಣಕತೆರೆ ಪರಿಚಾರಕ
Comment[ko]=그놈 원격 데스크탑 서버
Comment[lt]=GNOME nutolusio darbastalio serveris
Comment[mk]=Сервер за оддалечена работна површина за GNOME
Comment[ml]=ഗ്നോം വിദൂര പണിയിട സര്‍വര്‍
Comment[mr]=GNOME दूरस्थ डेस्कटॉप सर्वर
Comment[nb]=Tjener for eksternt skrivebord
Comment[nl]=Server voor Gnome-bureaublad op afstand
Comment[or]=GNOME ଦୂର ଡେସ୍କଟପ ସର୍ଭର
Comment[pl]=Sewer zdalnego pulpitu GNOME
Comment[pt]=Servidor de Área de Trabalho Remota do GNOME
Comment[pt_BR]=Servidor de área de trabalho remota do GNOME
Comment[ru]=Сервер удалённого рабочего стола GNOME
Comment[sl]=Strežnika oddaljenega namizja GNOME
Comment[sq]=Server desktop në distancë GNOME
Comment[sr]=Сервер Гномове удаљена радне површи
Comment[sr@latin]=Server Gnomove udaljena radne površi
Comment[sv]=GNOME-fjärrskrivbordsserver
Comment[ta]=க்நோம் தொலை மேல்மேசை சேவையகம் 
Comment[th]=เซิร์ฟเวอร์พื้นโต๊ะระยะไกลของ GNOME
Comment[tr]=GNOME Uzaktaki Masaüstü Sunucusu
Comment[uk]=Віддалений робочий стіл GNOME
Comment[zh_HK]=GNOME 遠端桌面伺服器
Comment[zh_TW]=GNOME 遠端桌面伺服器
Exec=xfce4vino
Icon=preferences-desktop-remote-desktop
NotShowIn=KDE;GNOME;
Terminal=false
Type=Application
AutostartCondition=GNOME /desktop/gnome/remote_access/enabled
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
X-Ubuntu-Gettext-Domain=vino
